# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-error.log

# Build
/build
/dist

# Docker
Dockerfile
Dockerfile.dev
docker-compose.yml
.dockerignore

# CI/CD
.github

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md